@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: #3b4a6b;
}

a {
  color: #3b4a6b;
  text-decoration: none;
}

.button {
  background-color: #f0d43a;
    border: 1px solid #bba421;
    border-radius: 10px;
    color: #3b4a6b;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 1.5em;
    padding: 0.5em 1.25em;
}
  
.button:hover {
    background-color: #e4d05b;
    color: #1a3468;
}

 /* MAX SCREEN WIDTH 786px */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}