.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.contact-content h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.contact-content h2 {
    margin-bottom: 1em;
}

.socialContact {
    margin: 0 0 2em 0;
}

.socialContact li a i {
    font-size: 2.5em;
}

.contact-content h3 {
    margin-bottom: 1em;
}

.contact-content button {
    margin-top: 0.5em;
}