.tag-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.tag-block h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    text-align: center;
}

/* Home & About Image Styles */
.img-block {
    max-width: 100%;
}

.img-home {
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
}

 /* MAX SCREEN WIDTH 786px */
 @media only screen and (max-width: 768px) {
    .img-block {
        margin-top: 2em;
        max-width: 80%;
        padding-left: 2em;
    }
  }