.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

.main-content div {
    display: flex;
    justify-content: center;
}

.tag-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .tag-block h1 {
      font-size: 2.5em;
      line-height: 1.5em;
}

.tag-block button {
    background-color: #f0d43a;
    border: 1px solid #bba421;
    border-radius: 10px;
    color: #3b4a6b;
    font-size: 1.2em;
    margin-top: 1.5em;
    padding: 0.5em 1.5em;
  }
  
  .tag-block button:hover {
      background-color: #e4d05b;
      color: #1a3468;
}

/* Home Image Styles */
.img-block {
    max-width: 45%;
}

.img-home {
    border-radius: 10px;
    width: 100%;
}