
.container-grid {
    display: grid;
    grid-template-areas: 
        "left-col right-col";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
}

.left-col {
    grid-area: left-col;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.tag-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.tag-block h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    text-align: center;
}

/* Home Image Styles */
.right-col {
    grid-area: right-col;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-block {
    max-width: 100%;
}

.img-home {
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
}