.main {
    display: grid;
    grid-template-areas: 
        "header"
        "container"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10vh auto auto;
}

/* Header Styles */
header {
    grid-area: header;
    background-color: #5ad1f2;
    border-bottom: 3px solid #f0d43a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    width: 40%;
}

header h2 a {
    font-size: 1.2em;
}

#navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    font-weight: bold;
}

nav ul li a:hover {
    color: #5e75a7;
}

/* Body Styles */
.container {
    grid-area: container;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
  }

  .container-grid {
    display: grid;
    grid-template-areas: 
        "left-col right-col";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
}

.left-col {
    grid-area: left-col;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-col {
    grid-area: right-col;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* Footer Styles */
  footer {
      grid-area: footer;
      background-color: #5ad1f2;
      border-top: 3px solid #f0d43a;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3em 0;
  }

  .footerDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .socialUL {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
  }

  .socialUL li {
      list-style: none;
      margin: 0 15px;
  }

  .socialUL li a {
      text-decoration: none;
  }

  .socialUL li a i {
      font-size: 1.75em;
  }

  .socialUL li a i:hover {
      color: #5e75a7;
  }

  .footerDiv p {
      font-size: 0.9em;
      margin-top: 20px;
  }

  /* MAX SCREEN WIDTH 786px */
@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }

    nav ul li {
        text-align: center;
    }

    .container-grid {
        grid-template-areas: 
            "right-col"
            "left-col"; 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
    }

    .left-col {
        justify-content: center;
        margin-bottom: 2em;
    }

    .footerDiv {
        padding: 0 1em;
        text-align: center;
    }
  }

  /* MAX SCREEN WIDTH 1065px */
  @media only screen and (max-width: 1065px) {
    header div {
        width: 45%;
    }

    nav ul li {
        padding: 0 10px;
    }
  }