@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  color: #3b4a6b;
}

a {
  color: #3b4a6b;
  text-decoration: none;
}
